
@import url('https://fonts.googleapis.com/css?family=Segoe+UI:400,600,800');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

*,*::before,*::after{margin:0;padding:0;box-sizing:border-box;}html,body{height:100vh;}body{display:flex;align-items:center;justify-content:center;padding:40px;font:20px/1.5 'Segoe UI',Segoe-UI;color:#345;background:#f0f2f4;}

p:not(:last-child) {
  margin: 0 0 20px;
  text-align: left;
}

h1 {
    font-size: 36px;
	text-align: center;
}

h2 {
    font-size: 28px;
	text-align: center;
}

main {
  max-width: 800;
  padding: 40px;
  border: 1px solid rgba(0,0,0,.2);
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  background-color: gainsboro;
}

section {
  display: none;
  padding: 20px 20px 20px;
  border-top: 1px solid #abc;
  background-color: gainsboro;
  line-height: 1.5;
}

input {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #abc;
  border: 1px solid transparent;
  border-bottom: 1px solid #0af;
  background-color: white;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label[for*='1']:before { content: '\f1cb'; }
label[for*='2']:before { content: '\f17d'; }
label[for*='3']:before { content: '\f16c'; }
label[for*='4']:before { content: '\f171'; }

label:hover {
  color: #789;
  cursor: pointer;
}

input:checked + label {
  color: #0af;
  border: 1px solid #abc;
  border-top: 2px solid #0af;
  border-bottom: 1px solid gainsboro;
  background-color: #e0dbeb;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 800px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 24px;
  }
  figure.left,
  figure.right {
    float: none;
    width: 100%;
    img {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
    }
    figcaption {
      margin-right: 0;
      margin-left: 0;
    }
  }
  
  
  
}

@media screen and (max-width: 500px) {
  label {
    padding: 15px;
  }
}

figure {
  display: table;
}

img {
  display: block;
	width:30%;
	height:30%;
}

figure.left {
  float: left;
  img { 
    margin-right: 1.5rem;
    margin-bottom: 0.5rem;
  }
  figcaption {
    margin-right: 1.5rem;
  }
}

figure.right {
  float: right;
  img {
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
  }
  figcaption {   
    margin-left: 1.5rem;
  }
}

figcaption {
  display: table-caption;
  caption-side: bottom;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

strong {
  font-weight: bold;
}

